include LICENSE
include README.md
include CHANGELOG.md

recursive-include requirements *
recursive-include ublcii/bots *

include ublcii/java/*.jar
include ublcii/validation/eInvoicing-EN16931/cii/xslt/*.xslt
include ublcii/validation/eInvoicing-EN16931/ubl/xslt/*.xslt
include ublcii/validation/eInvoicing-EN16931/README.md
include ublcii/validation/eInvoicing-EN16931/LICENSE.txt

global-exclude *.py[cod]
